<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-sm-3 text-center">
      <input type="text" name="FirstName" placeholder="First Name" />
    </div>
    <div class="col-sm-3 text-center">
      <input type="text" name="LastName" placeholder="Last Name" />
    </div>
    <div class="col-sm-3 text-center">
      <input type="text" name="City" placeholder="City" />
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm-3 text-center">
      <input type="text" name="State" placeholder="State" />
    </div>
    <div class="col-sm-3 text-center">
      <input type="text" name="Country" placeholder="Country" />
    </div>
    <div class="col-sm-3 text-center">
      <input type="text" name="PrimaryDanceStyle" placeholder="Primary Dance Style" />
    </div>
  </div>
  <br>
  <div class="row justify-content-md-center">
    <div class="col col-lg-2 text-center">
      <button class="btn btn-primary btn-sm">Search</button>
    </div>
    <div class="col col-lg-2 text-center">
      <button class="btn btn-primary btn-sm">Clear</button>
    </div>
  </div>
</div>
